<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051031634725-9c1s2t9jlvssq4e21p7e14qefo154o94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051031634725-9c1s2t9jlvssq4e21p7e14qefo154o94</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1051031634725-1a7do9e8i7tehcm1f1arc7glv63vq0p2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhQogAGwKetJNRKgSbnbis5dd27rcgRF4</string>
	<key>GCM_SENDER_ID</key>
	<string>1051031634725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-a7ac0</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-a7ac0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051031634725:ios:3177190b734e8aade6d0cc</string>
</dict>
</plist>